/* MAIN */

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/news-background.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100vw;
  padding-bottom: 3vh;
}

/* NAV and HEADERS */

.navbar {
  overflow: hidden;
  background-color: azure;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(29, 1, 87);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  width: fit-content;
  height: fit-content;
  border: none;
  outline: none;
  color: rgb(29, 1, 87);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}

#logged-in-user {
  display: flex;
  margin: 0;
  float: right;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#logged-in-user p {
  margin-right: 5px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(155, 111, 200);
}

nav p {
  margin: auto 10px;
}

nav img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid grey;
}

nav button {
  margin: 0 10px 0 10px;
  width: 60px;
  height: 20px;
  font-size: 0.7rem;
}

#logged-in-user {
  display: flex;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddc0d3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid grey;
}

nav button {
  margin: 0 10px 0 10px;
  width: 60px;
  height: 20px;
  font-size: 0.7rem;
}


h1 {
  font-size: 4.5rem;
  margin: 2vh 2vw;
}

h2 {
  font-size: 2rem;
  text-align: left;
  width: 70vw;
  margin: 2vh auto;
}

h3 {
  text-align: left;
  margin-bottom: 1vh;
}

/* MOST RECENT */

.most-recent {
  box-sizing: content-box;
  width: 85vw;
  margin: 4vh auto;
  padding: 1vh 0;
  background-color: white;
}

#most-recent-img {
  width: 70vw;
}

.most-recent-details {
  width: 70vw;
  margin: 3vh auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "topic author votes";
}

.recent-header {
  font-size: 1.5rem;
  width: 70vw;
  margin: 1vh auto;
  text-align: left;
  grid-area: "header";
}

.recent-topic {
  grid-area: "topic";
  background-color: rgb(181, 178, 178);
  width: fit-content;
}

.recent-author {
  grid-area: "author";
}

.recent-votes {
  grid-area: "votes";
}

/* ARTICLES */

.articles-section {
  margin-bottom: 5vh;
}

#sort-by-form {
  display: block;
  padding: 0;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
}

#sort-by {
  height: fit-content;
}

.articles-container {
  box-sizing: content-box;
  width: 85vw;
  margin: auto auto 1vh auto;
  padding: 0 20px 20px 20px;
}

.article-card {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  margin: 2vh auto;
  text-align: right;
}

.article-link {
  color: black;
}

.article-link-img {
  margin-right: 2vw;
}

.article-details {
  box-sizing: border-box;
  margin: 1vh 2vw;
}

.topic-label {
  background-color: rgb(181, 178, 178);
  width: fit-content;
  margin: auto 0 auto auto;
}

img {
  width: 90%;
  max-height: 90%;
}

#loading-img {
  max-width: 80vw;
}

/* SINGLE ARTICLE */

.single-article {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  width: 85vw;
  margin: auto auto 1vh auto;
  padding: 0 20px;
  text-align: left;
}

.single-article h2 {
  text-align: left;
  margin: 4vh 0 2vh 0;
}

.single-article-details {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: left;
  align-items: center;
}

.single-article .topic-label {
  margin: 0 2vw;
}

.article-body {
  width: fit-content;
  margin: 1vh 2vw 3vh 0;
}

.single-article img {
  margin: 3vh 0;
}

#author-avatar {
  width: 35px;
  height: 35px;
  margin: 0px;
  border: solid 1px black;
  border-radius: 50%;
}

.votes {
  display: flex;
  gap: 2vw;
  justify-content: flex-end;
  align-content: center;
  margin: 0;
}

.votes button {
  width: 50px;
  margin: 0;
  padding: 3px;
}

.selected-vote-button {
  background-color: rgb(175, 243, 243);
  box-shadow: 0px 0px 10px rgb(211, 252, 255);
  border: 2px solid grey;
}

#vote-error {
  margin-top: 5px;
  font-size: 10pt;
  font-weight: bold;
  text-align: right;
  color: rgb(32, 135, 169);
}


/* COMMENTS */

.comments-section {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 85vw;
  margin: 5vh auto 4vh auto;
  border-radius: 10px;
  padding-bottom: 2vh;
}

.comments-section h3 {
  background-color: rgb(218, 180, 253);
  margin-bottom: 3vh;
  padding: 1vh 1vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.comment-poster {
  margin: auto auto 1vh auto;
}

form {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  padding: 0 2vw;
  margin: 0 auto;
}

.feedback {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(32, 135, 169);
}

textarea {
  width: 80vw;
  margin: 1vh auto;
}

button {
  width: 30vw;
  margin: 1vh auto;
}

.comment-card {
  margin: 2vh 2vw;
  padding: 2vh 1vw;
  border-top: 1px solid rgb(134, 134, 134);
}

#comment-loading {
  margin: 3vh auto;
}

#comment-loading img {
  height: 50px;
  width: 50px;
}

.comment-card .feedback {
  margin-top: 10px;
}

@media (min-width: 750px) {

  nav {
    height: 50px;
  }

  .articles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 90vw;
    margin: auto;
    padding: 0 20px;
  }
  
  .article-card {
    margin: 2vh auto;
    width: 400px;
  }

  #loading-img {
    height: 60vh;
    width: auto;
  }

  #author-avatar {
    width: 30px;
    height: 30px;
    margin: 0px 1vw 0px 0px;
    border: solid 1px black;
    border-radius: 50%;
  }

  .article-body {
    width: 80vw;
    margin: 1vh 0 3vh 0;
  }

  .comment-poster {
    margin: auto auto 1vh auto;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 2vw;
  }
  
  textarea {
    width: 60vw;
    margin: 1vh auto;
  }
  
  button {
    width: 10vw;
    margin: 1vh auto;
  }

}
